<nav class="navbar">
  <div class="container">
    <div class="navbar-inner">

      <div class="d-flex align-items-center">
        <a class="navbar-brand" href="/">TechThreads</a>
        <span class="navbar-tagline">Est. 2024 &nbsp;·&nbsp; Tech &amp; Ideas</span>
      </div>

      <div class="navbar-actions">
        <% if (locals.user) { %>
          <a href="/blog/add-new" class="btn btn-write btn-sm">✦ Write</a>

          <div class="dropdown">
            <img
              src="<%= locals.user.profileImageURL %>"
              class="avatar-ring dropdown-toggle"
              data-bs-toggle="dropdown"
              alt="Profile"
            >
            <ul class="dropdown-menu dropdown-menu-end">
              <li>
                <span class="dropdown-item text-muted" style="font-size:0.78rem; padding-bottom:0.25rem; cursor:default;">
                  <%= locals.user.fullName || locals.user.email %>
                </span>
              </li>
              <li><hr class="dropdown-divider" style="margin:0.25rem 0; border-color: var(--border);"></li>
              <li><a class="dropdown-item" href="/user/logout">Sign out</a></li>
            </ul>
          </div>

        <% } else { %>
          <a href="/user/signin" class="btn btn-outline-dark btn-sm">Sign In</a>
          <a href="/user/signup" class="btn btn-dark btn-sm">Get Started</a>
        <% } %>
      </div>

    </div>
  </div>
</nav>
