<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%- include('./partials/head') %>
  <title>Sign In</title>
</head>
<body>
  <%- include('./partials/navbar') %>
<div class="container mt-4 pt-4">
  <form class="row g-3" action="/user/signin" method="post">
    <div class="col-md-6">
      <label for="email" class="form-label">Email</label>
      <input type="email" 
      name="email"
      class="form-control" id="email" placeholder="Enter your email" required>
    </div>
    <div class="col-md-6">
      <label for="password" class="form-label">Password</label>
      <input type="password" 
      name="password"
      class="form-control" id="password" placeholder="Enter your password" required>
    </div>

    <div class="col-12">
      <button type="submit" class="btn btn-primary">Sign In</button>
    </div>
    <div class="col-12 mt-2">
      <small>Don't have an account? <a href="/signup">Sign up here</a></small>
    </div>
  </form>
</div>
  
  <%- include('./partials/scripts') %>
</body>
</html>